In [11]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

Load data

In [25]:
items = pd.read_csv("../data/items.csv")
print(items.shape)
items.head()

(22170, 3)

,item_name,item_id,item_category_id
0,! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.) D,0,40
1,!ABBYY FineReader 12 Professional Edition Full...,1,76
2,***В ЛУЧАХ СЛАВЫ (UNV) D,2,40
3,***ГОЛУБАЯ ВОЛНА (Univ) D,3,40
4,***КОРОБКА (СТЕКЛО) D,4,40

In [26]:
shops = pd.read_csv("../data/shops.csv")
shops.shape
shops.head()

                        shop_name  shop_id
0   !Якутск Орджоникидзе, 56 фран        0
1   !Якутск ТЦ "Центральный" фран        1
2                Адыгея ТЦ "Мега"        2
3  Балашиха ТРК "Октябрь-Киномир"        3
4        Волжский ТЦ "Волга Молл"        4

In [27]:
item_categories = pd.read_csv("../data/item_categories.csv")
item_categories.shape
item_categories.head()

        item_category_name  item_category_id
0  PC - Гарнитуры/Наушники                 0
1         Аксессуары - PS2                 1
2         Аксессуары - PS3                 2
3         Аксессуары - PS4                 3
4         Аксессуары - PSP                 4

In [28]:
test = pd.read_csv("../data/test.csv")
test.shape
test.head()

   ID  shop_id  item_id
0   0        5     5037
1   1        5     5320
2   2        5     5233
3   3        5     5232
4   4        5     5268

In [30]:
train = pd.read_csv("../data/sales_train.csv")
train.shape
train.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [51]:
train["revenue"] = train["item_price"] * train["item_cnt_day"]

train["date"] = pd.to_datetime(train["date"])
train["month"] = train["date"].dt.month
train["year"] = train["year"].dt.year

AttributeError: Can only use .dt accessor with datetimelike values

In [39]:
grouped_train = train.groupby(["month", "year", "shop_id", "item_id"])

In [49]:
train_monthly = grouped_train.agg({"item_price": [np.mean, np.median], "revenue": [np.sum, np.median], "item_cnt_day": [np.sum, np.mean]})

KeyError: "Column 'revenue' does not exist!"